body {
  margin: 0;
  font-family: proxima-nova,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(78,61,102,100);
  background-image: url(../public/assets/bg_space_atmos.png);
  background-position: top center;
  
}

code {
  font-family: proxima-nova,sans-serif;
}
